/* You can add global styles to this file, and also import other style files */
@import "./src/assets/_variables.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body, html {
  margin: 0; padding: 0;
  font-style: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background: url('./assets/background.jpg') bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  margin: 0 16px;

  @media (min-width: 1200px) {
    width: 1150px;
    margin: 0 auto;
  }
}

.game-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);

  .game-modal {
    display: flex;
    flex-direction: column;
    // min-width: 350px;
    width: 80%;
    min-height: 250px;
    background: $light;
    border-radius: 1rem;
    box-shadow: 0 3px 9px rgba(0,0,0,0.25);
    overflow: hidden;

    .game-modal-header {
      padding: 0 1.2em;
      border-bottom: 1px solid #eee;
      margin-bottom: 0.5rem;

      h3 {
        margin: 0.6em 0;
      }
    }

    .game-modal-body {
      padding: 1rem;
    }

    .game-modal-footer {
      margin-top: auto;
      padding: 1rem;
      text-align: center;

      .game-modal-button {
        display: inline-block;
        padding: 0.25rem 0.75rem;
        margin: 0 0.5rem;
      }
    }
  }
}
