<form #f="ngForm" (submit)="onSubmit($event); f.resetForm();">
  <div class="form-group">
    <input #tagName [(ngModel)]="newTag" name="newTag" type="text" class="form-control">
  </div>
</form>

<div id="tags">
  <div *ngFor="let tag of tags" (click)="onPillClick(tag)" class="tag-pill">{{tag}}</div>
</div>
