<header>
  <nav class="container">
    <div id="branding">
      GOG.match
    </div>
    <ul>
      <li>
        <a [routerLink]="['/my-games']" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">Moje gry</a>
      </li>
      <!-- <li>
        <a [routerLink]="['/events']" routerLinkActive="menu-active">Wydarzenia</a>
      </li> -->
    </ul>
  </nav>
</header>

<section class="section container">
  <router-outlet></router-outlet>
</section>

<footer class="container">
  <p>Copyright 2009 Your name</p>
</footer>
