@import "../../assets/_variables.scss";

header {
  display: flex;
  align-items: center;
  height: 60px;
  background: #222;
  box-shadow: 0 3px 9px rgba(0,0,0,0.35);
  z-index: 1;

  #branding {
    color: white;
  }

  nav {
    display: flex;

    ul {
      margin: 0 0 0 auto;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 1.5rem;

        a {
          color: lightgray;
          text-decoration: none;

          &.menu-active {
            color: white;
          }
        }
      }
    }
  }
}

section.section {
  padding-top: 2rem;
}
