<div *ngIf="events">
  <h2 *ngIf="events.myEvents && events.myEvents.length > 0">Moje wydarzenia</h2>
  <div class="event" *ngFor="let event of events.myEvents">
    <div *ngIf="gameData">
      <div class="header">
        <div class="nick">{{event.createdBy}}</div>
        <div class="stars">4.8/5</div>
      </div>
      <div class="body row">
        <div class="thumb">
          <img [src]="gameService.getThumbnailUri(gameData)" alt="">
        </div>
        <div class="event-info col-6">
          <div class="top">
            {{ gameData.title }}
            <br> {{ event.startDate | date: "E. dd MMM - HH.mm" }} - {{ event.endDate | date: "HH:mm" }}
          </div>
          <div class="bottom">
            Co będziemy robić?
            <div class="tags">
              <div *ngFor="let tag of event.categories" class="tag">
                {{tag}}
              </div>
            </div>
          </div>
        </div>
        <div class="side row">
          <div class="free-place col-6">
            <h3>{{4-event.participants.length}}</h3>
            <span>wolne miejsca</span>
          </div>
          <div class="request col-6">
            Dołącz
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 *ngIf="events.allEvents && events.allEvents.length > 0">Wszystkie wydarzenia</h2>
  <div class="event" *ngFor="let event of events.allEvents">
    <div *ngIf="gameData">
      <div class="header">
        <div class="nick">{{event.createdBy}}</div>
        <div class="stars">4.8/5</div>
      </div>
      <div class="body row">
        <div class="thumb">
          <img [src]="gameService.getThumbnailUri(gameData)" alt="">
        </div>
        <div class="event-info col-6">
          <div class="top">
            {{ gameData.title }}
            <br> {{ event.startDate | date: "E. dd MMM - HH.mm" }} - {{ event.endDate | date: "HH:mm" }}
          </div>
          <div class="bottom">
            Co będziemy robić?
            <div class="tags">
              <div *ngFor="let tag of event.categories" class="tag">
                {{tag}}
              </div>
            </div>
          </div>
        </div>
        <div class="side row">
          <div class="free-place col-6">
            <h3>{{4-event.participants.length}}</h3>
            <span>wolne miejsca</span>
          </div>
          <div class="request col-6">
            Dołącz
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
