h2 {
  color: white;
}

.event {
  color: white;

  .header {
    .nick, .stars {
      display: inline-block;
      margin: 1rem 2rem;
    }
  }

  .body {
    background: rgba(0,0,0,0.4);

    .thumb {
      img {
        width: 200px;
        height: auto;
      }
    }

    .event-info {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      .bottom {
        margin-top: auto;

        .tags {
          margin-top: 0.6rem;

          .tag {
            display: inline-block;
            padding: 0.5rem 1rem;
            border: 1px solid lightgray;
            border-radius: 6px;
            margin-right: 0.5rem;
            font-size: 0.8rem;
          }
        }
      }
    }

    .side {
      flex: 1 0 auto;
      align-items: center;

      .request {
        border-left: 1px solid lightgray;
        text-align: center;
      }
    }
  }
}
