<div class="game-modal-wrapper">
  <div class="game-modal">
    <div class="game-modal-header">
      <h3>Dodaj wydarzenie</h3>
    </div>
    <form #form="ngForm" (submit)="onSubmit();">
      <div class="game-modal-body">
        <div *ngIf="!isLoading" class="game-modal-content row">
          <div id="game-thumb" class="col-4">
            <img [src]="gameService.getThumbnailUri(gameData)" alt="">
          </div>
          <div id="game-data" class="col-8">
            <div id="game-info">
              <h3>{{ gameData.title }}</h3>
            </div>
            <div id="game-details">
              <div class="row">
                <div class="form-group col">
                  <label for="game-coop-start-date">Data rozpoczęcia:</label>
                  <!-- <input [(ngModel)]="startDate" name="startDate" type="date" class="form-control" id="game-coop-start-date"> -->
                  <input [(ngModel)]="startDate" name="startDate" class="form-control" [owlDateTime]="dt" [owlDateTimeTrigger]="dt">
                  <owl-date-time #dt></owl-date-time>
                </div>
                <div class="form-group col">
                  <label for="game-coop-end-date">Data zakończenia:</label>
                  <input [(ngModel)]="endDate" name="endDate" class="form-control" [owlDateTime]="et" [owlDateTimeTrigger]="et">
                  <owl-date-time #et></owl-date-time>
                </div>
              </div>

              <div class="form-group">
                <label for="game-coop-gamers">Liczba graczy:</label>
                <input [(ngModel)]="gamersNumber" name="gamersNumber" type="number" max="4" class="form-control" id="game-coop-gamers" placeholder="Ilu graczy szukasz?">
              </div>

              <div class="form-group">
                <h6>Kategoria wydarzenia:</h6>
                <input [(ngModel)]="isDiscussion" id="game-coop-discussion" name="game-coop-discussion" type="checkbox" value="true">
                <label class="button-label" for="game-coop-discussion">Dyskusja</label>

                <input [(ngModel)]="isStreaming" id="game-coop-streaming" name="game-coop-streaming" type="checkbox" value="true">
                <label class="button-label" for="game-coop-streaming">Streaming</label>

                <input [(ngModel)]="isMulti" id="game-coop-multi" name="game-coop-multi" type="checkbox" value="true">
                <label class="button-label" for="game-coop-multi">Multiplayer</label>
              </div>

              <div class="form-group">
                <h6>Dodaj tagi:</h6>
                <app-tags-pills></app-tags-pills>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="game-modal-footer">
        <button type="submit" class="game-modal-button">Utwórz</button>
        <button (click)="getBack()" class="game-modal-button">Anuluj</button>
      </div>
    </form>
  </div>
</div>
