input[type=checkbox] {
  display: none;

  &:checked + .button-label {
    background: #cecece;
  }
}

#game-thumb img {
  display: block;
  width: 100%;
  height: auto;
  margin: 1rem;
}

.button-label {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  background: #eee;
  border-radius: 1rem;
  border-color: #dedede;
  user-select: none;
  text-align: center;
}
