<div id="games-list">
  <h2 *ngIf="(userGames)">Wybierz grę</h2>
  <!-- <div *ngIf="!(userGames | async) || (userGames | async).length == 0" id="no-games-notif">
    <h2>No games to show.</h2>
  </div> -->
  <div *ngIf="userGames" id="games-list-content">
    <div *ngFor="let game of userGames" class="game">
      <div class="game-image">
        <img src="{{ gameService.getThumbnailUri(game) }}" alt="game-thumbnail">
      </div>

      <div class="bottom">
        <p>{{ game.title }}</p>
        <div class="row">
          <button class="col" [routerLink]="['/my-games', 'add', game.id]">Dodaj</button>
          <button class="col" [routerLink]="['/events', game.id]">Dołącz</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="createEvent()">CREATE EVENT</button>
  <button (click)="getAllGames()">GET PAGE OF GAMES</button>
</div>

<div id="modal">
  <router-outlet></router-outlet>
</div>
