#games-list {
  & > h2 {
    text-align: center;
    color: white;
  }

  #no-games-notif {
    width: 100%;
    text-align: center;

    h2 {
      color: lightgray;
      font-weight: lighter;
    }
  }

  #games-list-content {
    display: flex;
    flex-wrap: wrap;

    .game {
      position: relative;
      width: 20%;
      margin: 2.5%;
      background: #ddd;
      border-radius: 0.75rem;
      overflow: hidden;
      box-shadow: 0 3px 9px rgba(0,0,0,0.4);

      .game-image {
        position: relative;

        img {
          width: 100%;
        }

        .game-add-button {
          position: absolute; top: 0; left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: white;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s ease-in-out;
          z-index: 1;
        }
      }

      .bottom {
        p {
          height: 4em;
          margin: 1em 1em 0;
          text-transform: uppercase;
          font-weight: bold;
        }
        button {
          padding: 0.5rem 0;
          background: none;
          border: 1px solid #d0d0d0;
          font-size: 0.9em;

          &:hover {
            background: #ccc;
          }
        }
      }
    }
  }
}
